@charset "utf-8";


.wrapperForms{
	position:fixed;
	background-color:#EEEEEE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top:8%;
	width:40%;
	left:30%;
	height:92%;
	overflow:auto;
}

#caps{
	padding:1.8% 9% 0% 1.8%;
	margin:0px;
	color:red;
	font-size:15px;
	font-weight:bold;
	display:none;
}

#wrapform,#form1,#form2,#form3{
	display:none;
}

#myAccount{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color:#1A1A1A;
	color:white;
	margin:0px;
	font-size:15px;
	padding:0.5% 0%  0.5% 1.8%;
}

.forms{
	padding-left: 1.8%;
	padding-right: 1.8%;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.formtop{
	margin:0%;
	padding-top:2%;
	font-size:20px;
}

.formtoptxt{
	margin-bottom:3%;
	padding-top:0%;
	font-size:16px;
	color:#575555;
}

.forminputtxt{
	margin:1% 0% 0.8% 25%;
	font-size:16px;
}

.formcheck{
	text-align: center;
	font-size:13px;
	color:#3986F2;
	margin:15px 0px 0px 5px;
	padding:0px;
}


.Or{
	display:flex;
	flex-direction:row;
	margin-top:3%;
	font-size:12px;
	color:#575555;
}

.Or:before, .Or:after {
     content: "";
     flex:1 1;
     border-bottom:1px solid #9596AB;
	 margin-left:20px;
	 margin-right:20px;
	 margin-top:auto;
	 margin-bottom:auto;
}

.forminput{
	margin-left:25%;
	width:50%;
	font-size:14px;
	padding:1.2% 0.8% 0.8% 1.2%;
	border:1px solid #A3ABAC;
	border-radius:4px;
}

input:focus{
	outline:none;
}

.formlink{
	text-align:center;
	font-size:14px;
	color:#3986F2;
	text-decoration:none;
	margin-bottom:1%;
}

button{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top:0.5%;
	margin-bottom:0.5%;
	text-align:center;
	border:1px solid #1A1A1A;;
	background-color:#1A1A1A;
	color:white;
	margin-left:32%;
	width:36%;
	padding:2% 0px 2% 0px;
	border-radius:30px;
}

button:hover{
	background-color:white;
	border:1px solid #1A1A1A;
	color:#1A1A1A;
}


button:focus{
	outline:none;
}

#fantasyname{
	margin-left:25%;
	margin-top:0%;
	font-size:11px;
	color:#3986F2;
}


/*
#signIn,#textSignIn,#createAccount, #textCreateAccount, #createNewAccount, #newUserName, #newEmail,#newPassword1, #newPassword2,#signOut, #updateAccount, #textUpdateAccount,#input,#labelSignInCheckBox{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}


#signIn,#createAccount,#createNewAccount,#signOut,#updateAccount{
	margin:0%;
	padding-top:2%;
	font-size:20px;
}


#textSignIn,#textCreateAccount,#textCreateNewAccount,#textUpdateAccount{
	margin-bottom:3%;
	padding-top:0%;
	font-size:14px;
	color:#575555;
}

#userName,#password,#newUserName,#newEmail,#newPassword1,#newPassword2{
	margin:0%;
	margin-left:25%;
	margin-bottom:0.8%;
	font-size:14px;
}


#password,#newPassword1,#newPassword2{
	margin-top:2.5%;
}


input{
	margin-left:25%;
	width:50%;
	font-size:16px;
	padding:1.2% 0.8% 0.8% 1.2%;
	border:1px solid #A3ABAC;
	border-radius:4px;
}

#inputNewUserName{
	padding-bottom:0.1%;
	margin-bottom:0%;
}

#fantasyName{
	margin-left:25%;
	margin-top:0%;
	font-size:11px;
	color:#3986F2;
}

#newInputPassword2{
	margin-bottom:7%;
}


input:focus{
	outline:1px solid #9BBBF0;
}


#forgotPassword,a{
	text-align:center;
	font-size:14px;
	color:#3986F2;
	text-decoration:none;
	margin-bottom:1%;
}

.Or{
	display:flex;
	flex-direction:row;
	margin-top:3%;
	font-size:12px;
	color:#575555;
}

.Or:before, .Or:after {
     content: "";
     flex:1 1;
     border-bottom:1px solid #9596AB;
	 margin-left:20px;
	 margin-right:20px;
	 margin-top:auto;
	 margin-bottom:auto;
}

button{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top:3%;
	text-align:center;
	border:1px solid #1A1A1A;;
	background-color:#1A1A1A;
	color:white;
	margin-left:32%;
	width:36%;
	padding:2% 0px 2% 0px;
	border-radius:30px;
}

button:hover{
	background-color:white;
	border:1px solid #1A1A1A;
	color:#1A1A1A;
}


button:focus{
	outline:none;
}

#signOutButton{
	margin-top:10%;
	margin-bottom:10%;
}

#formRegister{
	visibility:hidden;
}

#wrapperSignOut{
	visibility:hidden;
}

#signInCheckBox, #registerCheckBox{
	margin:15px 0px 10px 36%;
	padding:0px;
	text-decoration:none;
	width:auto;
	height:10px;
}

#signInCheckBox:focus, #registerCheckBox:focus{
	outline:0px; 	
}

#labelSignInCheckBox,#labelRegisterCheckBox{
	font-size:13px;
	color:#3986F2;
	margin:15px 0px 10px 5px;
	padding:0px;
}
*/


